
<div class="container ">
    <div class="card col-md-4">
    <div class="card-header" >Production In</div>
        <div class="row mx-auto m-3">
            <%= form_for @batch, url: batch_index_path do |f| %>
                <div class="form-group">
                    <label>Plant Type</label></br> 
                    <%= f.select 'variety',  options_from_collection_for_select(@varieties, 'id', 'name'), class: "form-control" %>
                </div>
                <div class="form-group">
                    <label>Flats</label> 
                    <%= f.text_field :quantity, class: "form-control" %>
                </div>
                <div class="form-group">
                    <label>Planter</label></br>
                    <%= f.select 'user',  options_from_collection_for_select(@users, 'id', 'name') %><br />
                </div>
                <div class="form-group">
                    <label>Location</label></br>
                    <%= f.select 'location',  options_from_collection_for_select(@locations, 'id', 'name') %><br />
                </div>
                <div class="form-group">
                    <label>Treatment</label> 
                    <%= f.text_field :treatment, class: "form-control" %>
                </div>
                <div class="form-group">
                    <label>Soil</label> 
                    <%= f.text_field :soil, class: "form-control" %>
                </div>
            <%= f.submit class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>