<h4>Plants   
  <%= link_to new_variety_path do %>
    <%= fa_icon 'plus-square', class: 'btn btn-success' %>
  <% end %>
</h4>

<table class="table table-striped border">
  <thead class="table-primary">
    <tr>
    <th scope="col">Plant Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Container Type</th>
      <th scope="col">Containers</th>
      <th scope="col">Plants</th>
      <th scope="col">Weeks To Root</th>
      <th scope="col">PPP</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Source</th>
      <th scope="col">Batch Count</th>
    </tr>
  </thead>
  <tbody>
    <% @varieties.each do |variety| %>
        <tr>
        <td><%= link_to(variety.plant_id, variety) %></td>
        <td><%= variety.name %></td>
        <td><%= number_to_currency(variety.price.to_f / 100) %></td>
        <td><%= variety.container.name %></td>
        <td><%= variety.total_containers %></td>
        <td><%= variety.total_plants %></td>
        <td><%= variety.root_time %></td>
        <td><%= variety.ppp %></td>
        <td><%= variety.difficulty %></td>
        <td><%= variety.source %></td>
        <td><%= variety.batch_count %></td>
        </tr>
    <% end %>
  </tbody>
</table>