<h1>Order</h1>
<div class="row">
    <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item list-group-item-success">
        PO Number: <%= @order.po_number%>
      </li>
      <li class="list-group-item">
         <%= @order.created_at.strftime("%F")%>
      </li>
      <li class="list-group-item">
      Status:
      <% if @order.ready_to_ship? %>
        <td> <span class="badge badge-success">Ready</span> </td>
      <% else %>
        <td> <span class="badge badge-danger">Not Ready</span> </td>
      <% end %>
      </li>
      <li class="list-group-item">
        Value: <%= number_to_currency(@order.value / 100)%>
      </li>
      <li class="list-group-item">
        BIll To: <%= link_to(@order.billing_customer.name, @order.billing_customer)%>
      </li>
      <li class="list-group-item">
        Ship To: <%= link_to(@order.customer.name, @order.customer)%>
      </li>
      <li class="list-group-item">
        Ship Via: <%= @order.customer.region%>
      </li>
  </ul>
</div>
<h3 class="mt-5">Line Items <%= link_to 'New Line Item', new_line_item_path(params: {order: @order}), class: "btn btn-primary"%></h3>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Variety</th>
      <th scope="col">Ordered</th>
      <th scope="col">Ship Week</th>
      <th scope="col">Allocated</th>
      <th scope="col">Value</th>      
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line| %>
        <tr>
          <td><%= link_to(line.id, line) %></td>
          <td><%= link_to(line.variety.name, line.variety) %></td>
          <td><%= line.quantity%></td>
          <td><%= line.ship_week%></td>
          <td><%= line.allocated %></td>
          <td><%= number_to_currency(line.value / 100) %></td>          
          <% if line.ready_to_ship? %>
            <td> <span class="badge badge-success">Ready</span> </td>
          <% else %>
            <td> <span class="badge badge-danger">Not Ready</span> </td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
