<h1>Location <%= @location.name %></h1>
<div class="row">
  <ul class="list-group list-group-horizontal-md">
    <li class="list-group-item list-group-item-success">
        Available: <%= @location.remaining_capacity %>
    </li>
    <li class="list-group-item">
        Capacity: <%= @location.capacity %>
    </li>
    <li class="list-group-item">
        Allocated Capacity: <%= @location.allocated_capacity %>
    </li>
  </ul>
</div>
<h2> Batches </h2>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Container Type</th>
      <th scope="col">Count</th>
      <th scope="col">Planter</th>
      <th scope="col">Location</th>
      <th scope="col">Soil</th>
      <th scope="col">Treatment</th>
    </tr>
  </thead>
  <tbody>
    <% @location.batches.each do |batch| %>
        <tr>
        <td><%= link_to("B"+batch.id.to_s, batch) %></td>
        <td><%= number_to_currency(batch.value)%></td>
        <td><%= batch.variety.container.name %></td>
        <td><%= batch.quantity %></td>
        <td><%= batch.user.email %></td>
        <td><%= link_to(batch.location.name, batch.location) %></td>
        <td><%= batch.soil %></td>
        <td><%= batch.treatment %></td>
        </tr>
    <% end %>
  </tbody>
</table>


