<h1>Location <%= @location.name %></h1>

<ul>
    <li>
        Capacity: <%= @location.capacity %>
    </li>
    <li>
        Allocated Capacity: <%= @location.allocated_capacity %>
    </li>
    <li>
        Available: <%= @location.remaining_capacity %>
    </li>
</ul>

<h2> Batches </h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Container Type</th>
      <th scope="col">Count</th>
      <th scope="col">Planter</th>
      <th scope="col">Location</th>
      <th scope="col">Soil</th>
      <th scope="col">Treatment</th>
    </tr>
  </thead>
  <tbody>
    <% @location.batches.each do |batch| %>
        <tr>
        <td><%= link_to("B"+batch.id.to_s, batch) %></td>
        <td><%= number_to_currency(batch.value)%></td>
        <td><%= batch.container.name %></td>
        <td><%= batch.quantity %></td>
        <td><%= batch.user.email %></td>
        <td><%= link_to(batch.location.name, batch.location) %></td>
        <td><%= batch.soil %></td>
        <td><%= batch.treatment %></td>
        </tr>
    <% end %>
  </tbody>
</table>


