<h1>Batches
  <%= link_to new_batch_path do %>
    <%= fa_icon 'plus-square', class: 'btn btn-success' %>
  <% end %>
</h1>
<div>
  <%= form_tag batches_path, method: 'get' do %>
    <a> Stage </a>
    <%= select_tag :stage, options_for_select(@stages, params[:stage]) %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Variety</th>
      <th scope="col">Type</th>
      <th scope="col">Week </th>
      <th scope="col">Stage</th>
      <th scope="col">Count</th>
      <th scope="col">Planter</th>
      <th scope="col">Location</th>
      <th scope="col">Soil</th>
      <th scope="col">Treatment</th>
      <th scope="col">Bump</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
        <tr>
          <td><%= link_to("B"+batch.id.to_s, batch) %></td>
          <td><%= link_to(batch.variety.name, batch.variety) %></td>
          <td><%= batch.type.capitalize %></td>
          <td><%= batch.week_planted %></td>
          <td><%= batch.stage %></td>
          <td><%= batch.plants_available %></td>
          <td><%= batch.user.name %></td>
          <td><%= link_to(batch.location.name, batch.location) %></td>
          <td><%= batch.soil %></td>
          <td><%= batch.treatment %></td>
          <td>
            <%= link_to edit_batch_path(batch.id) do %>
              <%= fa_icon('pagelines', class: 'btn btn-success')  %>
            <% end %>
          </td>
        
        </tr>
    <% end %>
  </tbody>
</table>


