<h4>Batches
  <%= link_to new_batch_path do %>
    <%= fa_icon 'plus-square', class: 'btn btn-success' %>
  <% end %>
</h4>

<div class='mb-2'>
  <%= form_tag batches_path, method: 'get', class: 'form-inline' do %>
    <div class="mr-2"> Stage </div>   
    <%= select_tag :stage, content_tag(:option,'All Stages')+options_for_select(@stages, params[:stage]), class: 'form-control col-md-2 mr-2'  %>
    Show Open?
    <%= check_box_tag :open, 'true', !params[:commit].present? || params[:open].present?, class: 'form-control col-md-1' %>
    Show Shipped?
    <%= check_box_tag :history, 'true', params[:history].present?,  class: 'form-control col-md-1 text-center'%>
    <div class="mr-2"> Start Week </div>
    <%= select_tag :start_week, content_tag(:option,'--') + options_for_select([*(1..52)],params[:start_date]), class: 'form-control col-md-1 mr-2'  %>
    <div class="mr-2"> End Week </div>
    <%= select_tag :end_week, content_tag(:option,'--') + options_for_select([*(1..52)], params[:end_date]), class: 'form-control col-md-1 mr-2'  %>
    <%= submit_tag "Filter", class: 'form-control col-md-1 btn btn-primary' %>
  <% end %>
</div>

<table class="table table-striped border">
  <thead class="table-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Variety</th>
      <th scope="col">Type</th>
      <th scope="col">Planted Week </th>
      <th scope="col">Stage</th>
      <th scope="col">Count</th>
      <th scope="col">Planter</th>
      <th scope="col">Location</th>
      <th scope="col">Soil</th>
      <th scope="col">Treatment</th>
      <th scope="col">Bump</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
        <tr>
          <td><%= link_to("B"+batch.id.to_s, batch) %></td>
          <td><%= link_to(batch.variety.name, batch.variety) %></td>
          <td><%= batch.type.capitalize %></td>
          <td><%= batch.week_planted %></td>
          <td><%= batch.stage %></td>
          <td><%= batch.plants_available %></td>
          <td><%= batch.user.name %></td>
          <td><%= link_to(batch.location.name, batch.location) %></td>
          <td><%= batch.soil %></td>
          <td><%= batch.treatment %></td>
          <td>
            <%= link_to edit_batch_path(batch.id) do %>
              <%= fa_icon('pagelines', class: 'btn btn-success')  %>
            <% end %>
          </td>
        
        </tr>
    <% end %>
  </tbody>
</table>


