<h4>
  Batch <%= @batch.id%>            
  <%= link_to edit_batch_path(@batch.id) do %>
      <%= fa_icon('pagelines', class: 'btn btn-success')  %>
      <% end %>
</h4>
<div class="row">
  <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item">
        <%= link_to(@batch.variety.name, @batch.variety) %>
      </li>
      <li class="list-group-item">
         <%= @batch.quantity %> of <%= @batch.variety.container.name %>
      </li>
      <li class="list-group-item">
        <%= @batch.plants_available %> Plants
      </li>
      <li class="list-group-item">
          <%= number_to_currency(@batch.value) %>
      </li>
      <li class="list-group-item">
        <%= link_to("Section " + @batch.location.name.to_s, @batch.location) %>
      </li>
      <li class="list-group-item">
          <%= @batch.user.name %>
      </li>
      <li class="list-group-item">
        Stage <%= @batch.stage %>
      </li>
  </ul>
</div>
<h3>Batch History</h3>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">date</th>
      <th scope="col">Type </th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @batch.children.each do |child| %>
        <tr>
          <td><%= child.created_at.strftime('%F') %></td>
          <td><%= child.type %></td>
          <td><%= child.plant_quantity %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<h3>Shipped Orders</h3>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @batch.line_item_batches.each do |lib| %>
        <tr>
          <td><%= lib.line_item.order.po_number %></td>
          <td><%= lib.created_at.strftime('%F') %></td>          
          <td><%= lib.quantity %></td>
        </tr>
    <% end %>
  </tbody>
</table>