<h1>Batch <%= @batch.id%></h1>
<div class="row">
  <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item">
        <%= link_to(@batch.variety.name, @batch.variety) %>
      </li>
      <li class="list-group-item">
         <%= @batch.quantity %> of <%= @batch.variety.container.name %>
      </li>
      <li class="list-group-item">
        <%= @batch.plant_quantity %> Plants
      </li>
      <li class="list-group-item">
          <%= number_to_currency(@batch.value) %>
      </li>
      <li class="list-group-item">
        <%= link_to("Section " + @batch.location.name.to_s, @batch.location) %>
      </li>
      <li class="list-group-item">
          <%= @batch.user.name %>
      </li>
      <li class="list-group-item">
        Stage <%= @batch.stage %>
      </li>
  </ul>
</div>
<h3>Orders </h3>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">PO Number</th>
      <th scope="col">Variety</th>
      <th scope="col">Quantity Allocated</th>
    </tr>
  </thead>
  <tbody>
    <% @batch.line_item_batches.each do |lib| %>
        <tr>
        <td><%= link_to(lib.line_item.order.po_number, lib.line_item.order) %></td>
        <td><%= link_to(lib.line_item.variety.name, lib.line_item.variety)%></td>
        <td><%= lib.quantity %></td>
        </tr>
    <% end %>
  </tbody>
</table>