<h1><%= @variety.name %></h1>
<ul>
    <li>
        Price: <%= number_to_currency(@variety.price) %>
    </li>
    <li>
        Container: <%= @variety.container.name %>
    </li>
</ul>

<h2> Batches </h2>
<% @variety.batches.each do |batch| %>
    <h4> Batch <%= link_to(batch.id, batch) %> </h4>
    <ul>
        <li>
            Quantity: <%= batch.quantity %>
        </li>
        <li>
            Plants: <%= batch.plant_quantity %>
        </li>
        <li>
            Value: <%= number_to_currency(batch.value) %>
        </li>
        <li>
            Location: <%= link_to(batch.location.name, batch.location) %>
        </li>
    </ul>
<% end %>

