<h3 class="mt-5">Line Items</h3>
<div class= 'mb-2'>
  <%= form_tag line_items_path, method: 'get', class: 'form-inline' do %>
    <%= select_tag :variety_id, content_tag(:option,'All Varieties')+options_from_collection_for_select(@varieties, :id, :name), class: 'form-control col-md-2 mr-2'  %>
    Show Open?
    <%= check_box_tag :open, 'true', !params[:commit].present? || params[:open].present?, class: 'form-control col-md-1' %>
    Show Shipped?
    <%= check_box_tag :history, 'true', params[:history].present?,  class: 'form-control col-md-1 text-center'%>
    <%= submit_tag "Filter", class: 'form-control col-md-1 btn btn-primary ml-5' %>
  <% end %>
</div>
<table class="table table-striped border">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PO#</th>
      <th scope="col">Variety</th>
      <th scope="col">Ordered</th>
      <th scope="col">Ship Week</th>
      <th scope="col">Allocated</th>
      <th scope="col">Value</th>      
      <th scope="col">Status</th>
      <th scope="col">Ship</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line| %>
        <tr>
          <td><%= link_to(line.id, line) %></td>
          <td><%= link_to(line.order.po_number, line.order) %></td>
          <td><%= link_to(line.variety.name, line.variety) %></td>
          <td><%= line.quantity%></td>
          <td><%= line.ship_week%></td>
          <td><%= line.allocated %></td>
          <td><%= number_to_currency(line.value / 100) %></td>  
          <td>         
            <% if line.shipped? %>
              <span class="badge badge-success">Shipped</span>
            <% else %>
              <span class="badge badge-danger">Pending</span> 
            <% end %>
          </td>
          <td>
            <%= link_to edit_line_item_path(line.id) do %>
              <%= fa_icon 'truck', class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
