<h3 class="mt-5">Pending Line Items</h3>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Variety</th>
      <th scope="col">Ordered</th>
      <th scope="col">Ship Week</th>
      <th scope="col">Allocated</th>
      <th scope="col">Value</th>      
      <th scope="col">Status</th>
      <th scope="col">Ship</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line| %>
        <tr>
          <td><%= link_to(line.id, line) %></td>
          <td><%= link_to(line.variety.name, line.variety) %></td>
          <td><%= line.quantity%></td>
          <td><%= line.ship_week%></td>
          <td><%= line.allocated %></td>
          <td><%= number_to_currency(line.value / 100) %></td>  
          <td>         
            <% if line.shipped? %>
              <span class="badge badge-success">Shipped</span>
            <% else %>
              <span class="badge badge-danger">Pending</span> 
            <% end %>
          </td>
          <td>
            <%= link_to edit_line_item_path(line.id) do %>
              <%= fa_icon 'truck', class: 'btn btn-primary' %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
