<h1>Line Item</h1>

<div class="row">
    <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item list-group-item-success">
        Order: <%= link_to(@line_item.order.po_number, @line_item.order)%>
      </li>
      <li class="list-group-item ">
        Variety: <%= link_to(@line_item.variety.name, @line_item.variety)%>
      </li>
      <li class="list-group-item">
        Ordered: <%= @line_item.quantity%>
      </li>
      <li class="list-group-item">
        Value: <%= number_to_currency(@line_item.value / 100)%>
      </li>
  </ul>
</div>

<h2 class="mt-5"> Allocated Batches </h2>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Container Type</th>
      <th scope="col">Container Count</th>
      <th scope="col">Total Plants</th>
      <th scope="col">Planter</th>
      <th scope="col">Location</th>
      <th scope="col">Soil</th>
      <th scope="col">Treatment</th>
      <th scope="col">Quantity Allocated</th>
    </tr>
  </thead>
  <tbody>
    <% @line_item.line_item_batches.each do |li_batch| %>
        <tr>
        <td><%= link_to("B"+li_batch.batch.id.to_s, li_batch.batch) %></td>
        <td><%= number_to_currency(li_batch.batch.value)%></td>
        <td><%= li_batch.batch.variety.container.name %></td>
        <td><%= li_batch.batch.quantity %></td>
        <td><%= li_batch.batch.plant_quantity %></td>
        <td><%= li_batch.batch.user.email %></td>
        <td><%= link_to(li_batch.batch.location.name, li_batch.batch.location) %></td>
        <td><%= li_batch.batch.soil %></td>
        <td><%= li_batch.batch.treatment %></td>
        <td><%= li_batch.batch.quantity %></td>
        </tr>
    <% end %>
  </tbody>
</table>
