<h4>
  Line Item
  <%= link_to edit_line_item_path(@line_item) do %>
    <%= fa_icon 'truck', class: 'btn btn-primary' %>
  <% end %>
</h4>

<div class="row">
    <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item list-group-item-success">
        PO: <%= link_to(@line_item.order.po_number, @line_item.order)%>
      </li>
      <li class="list-group-item ">
        Variety: <%= link_to(@line_item.variety.name, @line_item.variety)%>
      </li>
      <li class="list-group-item">
        Ordered: <%= @line_item.quantity%>
      </li>
      <li class="list-group-item">
        Shipped: <%= @line_item.allocated%>
      </li>
      <li class="list-group-item">
        Left to Ship: <%= @line_item.to_ship%>
      </li>
      <li class="list-group-item">
        Value: <%= number_to_currency(@line_item.value / 100)%>
      </li>
      <li class="list-group-item">         
        <% if @line_item.shipped? %>
          <span class="badge badge-success">Shipped</span>
        <% else %>
          <span class="badge badge-danger">Pending</span>
        <% end %>
      </li>
  </ul>
</div>

<h2 class="mt-5"> Plants Shipped </h2>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">Source</th>
      <th scope="col">Date Shipped</th>
      <th scope="col">Quantity</th>
      <th scope="col">Containers </th>
    </tr>
  </thead>
  <tbody>
    <% @line_item.line_item_batches.each do |li_batch| %>
        <tr>
          <td><%= link_to("B"+li_batch.batch.id.to_s, li_batch.batch) %></td>
          <td><%= li_batch.batch.created_at.strftime("%F") %></td>
          <td><%= li_batch.quantity %></td>
          <td><%= li_batch.container_count %></td>  
        </tr>
    <% end %>
  </tbody>
</table>
