<h1><%= @customer.name %></h1>


<div class="row">
  <ul class="list-group list-group-horizontal-md">
      <li class="list-group-item">
        <%= @customer.region  %>
      </li>
      <li class="list-group-item">
         Open Value <%= number_to_currency(@customer.total_value / 100) %>
      </li>
      <li class="list-group-item">
         Closed Value <%= number_to_currency(0) %>
      </li>
  </ul>
</div>

<h3>Orders  
  <%= link_to new_order_path do %>
      <%= fa_icon 'plus-square', class: 'btn btn-success' %>
  <% end %> 
</h3>
<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col">PO Number</th>
      <th scope="col">Line Items</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <% @customer.orders.each do |order| %>
        <tr>
        <td><%= link_to(order.po_number, order) %></td>
        <td><%= order.line_items.length %></td>
        <td><%= number_to_currency(order.value / 100) %></td>
        </tr>
    <% end %>
  </tbody>
</table>